*,
*::after,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

h1 {
  margin-top: 5rem;
}
form,
h1 {
  margin-left: 8rem;
}
form {
  display: flex;
  flex-direction: column;
  border: none;
}

.radio-buttons {
  margin: 0.5rem;
}
button {
  margin-block: 0.5rem;
  padding-inline: 0.5rem;
}

#btn-remove {
  background-color: rgb(248, 199, 205);
}

#btn-add {
  background-color: rgb(208, 245, 208);
}

li {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
ul > li > label {
  padding-left: 0.5rem;
}
.linethrough {
  text-decoration: line-through;
}
